@model IEnumerable<ProgrammingExam.Models.Myheroes>

@{
    Layout = "_Layout";
    ViewData["Title"] = "Hero";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
</head>
<body>
    <h1>
        My Heroes
    </h1>
    <table class="table" id="herotable">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.id)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.name)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.name)
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <span>My hero is</span>
    <span id="Heroname" style="text-decoration:underline;"></span>
</body>
</html>

<script src="~/lib/jquery/dist/jquery.min.js" type="text/javascript"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js" type="text/javascript"></script>
<script>
    $(document).ready(function () {
        $('#herotable tbody tr').click(function () {
            var heroname = $($(this).find("td")[1]).text();

            $("#Heroname").text(heroname.replace(" ","")); 
        });
    });
</script>