@{
    Layout = "_Layout";
    ViewData["Title"] = "Posts";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
</head>
<body>
    <table class="table" id="poststable">
        <thead>
            <tr>
                <th>Id</th>
                <th>User Id</th>
                <th>title</th>
                <th>body</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</body>
</html>

<script src="~/lib/jquery/dist/jquery.min.js" type="text/javascript"></script>
<script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js" type="text/javascript"></script>
<style>
    table{
        width:100%!important;
    }
</style>
<script>
    $(document).ready(function () {
        columnTable = $("#poststable").DataTable({
            paging: false,
            ordering: false,
            info: false,
            searching: false,
            columns: [
                {
                    data: "id",
                    "width": "5%"
                },
                {
                    data: "userId",
                    "width": "5%"
                },
                {
                    data: "title",
                    "width": "30%"
                },
                {
                    data: "body",
                    "width": "30%"
                }
            ],
        });

        $.ajax({
            url: "https://jsonplaceholder.typicode.com/posts",
            type: "GET",
            contentType: "application/json; charset=utf-8",
            dataType: "JSON",
            success: function (response) {
                columnTable.clear().rows.add(response).draw();
            }
        });
    });
</script>